<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../public/stylesheets/personal.css' />
    <link rel='stylesheet' href='../../public/stylesheets/style.css' />
    <link rel='stylesheet' href='../../public/stylesheets/bootstrap.css' />
  </head>