<div id="login" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLongTitle" class="modal-title">Inicio de sesi칩n</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group log-form-modal">
                    <label class="col-form-label" for="user">Usuario</label>
                    <input id="user" class="form-control" type="text" placeholder="nombre usuario">
                    <br>
                    <br>
                    <label class="col-form-label" for="password">Constrase침a</label>
                    <input id="password" class="form-control" type="password" placeholder="************">
                    <button id="login-btn" class="btn btn-primary" type="button">Iniciar</button>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#signin" data-dismiss="modal">Registrarse</button>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="signin" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLongTitle" class="modal-title">Registro</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group log-form-modal">
                    <label class="col-form-label" for="name">Nombre</label>
                    <input id="name" name="name" class="form-control" type="text" placeholder="igrese sus nombres">
                    <br>
                    <label class="col-form-label" for="lastname">Apellidos</label>
                    <input id="lastname" name="lastname" class="form-control" type="text" placeholder="ingrese sus apellidos">
                    <br>
                    <label class="col-form-label" for="email">Correo electronico</label>
                    <input id="email" name="email" class="form-control" type="email" placeholder="email@example.com">
                    <br>
                    <label class="col-form-label" for="pass1">Constrase침a</label>
                    <input id="pass1" name="pass1" class="form-control" type="password" placeholder="************">
                    <br>
                    <label class="col-form-label" for="pass2">Repita la constrase침a</label>
                    <input id="pass2" name="pass2" class="form-control" type="password" placeholder="************">
                    <br>
                    <hr>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            <label>Eres estudiantes de la UCA?</label>
                        </label>
                    </div>
                    <label class="col-form-label" for="carnet">Ingrese su carnet</label>
                    <input id="carnet" class="form-control" type="carnet" placeholder="00000000"  disabled="">

                    <button id="signin-btn" class="btn btn-primary" type="button">Registrarse</button>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>