<div class="jumbotron mt-4">
  <h1 class="display-4">App DEI</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus provident suscipit, rerum dignissimos voluptate dolores delectus architecto consectetur fuga, quia perferendis dolor, fugit animi quisquam atque ullam nesciunt voluptatibus impedit.</p>
  <hr class="my-4">
  <p>
    Acá va el calendario
  </p>
  <a class="btn btn-primary btn-lg" href="" role="button">¡Ricolino!</a>
</div>
