<div class="jumbotron mt-4">
  <h1 class="display-4 text-center">Administración del Perfil</h1>
  <hr>
  <div id="region-main" class="admin-usu">
    <form action="/index" method="GET" >
      <div class="card text-white bg-secondary mt-3 " style="max-width: 20rem;">
          <div class="card-body">
            <label for="name" >Nombres</label>
            <input type="text" name="firstname" class="form-control" autocomplete="given-name" value="{{ name }}">
          </div>
      </div>
      <div class="card text-white bg-secondary mt-3" style="max-width: 20rem;">
        <div class="card-body">
          <label for="carnet" >Correo</label>
          <input id="id_email" type="email" name="email" class="form-control" autocomplete="email" value="{{ email }}">
        </div>
      </div>
      <div class="card text-white bg-secondary mt-3" style="max-width: 20rem;">
          <div class="card-body">
            <label for="password">Nueva contraseña</label>
            <input type="password" name="password" class="form-control" autocomplete="new-password">
          </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info mt-3 btn-lg">Guardar/Actualizar</button>
      </div>
    </form>    
  </div>
</div>
