<h3 id="grup-info">ESTÁDISTICAS POR LABORATORIO</h3>

{{#each reserv}}
  <div class="jumbotron">
    <div class="info-labos-titulo">
      <h4 class="display-4">{{ lugar }}</h4>
      <p class="lead">activo</p>
    </div>
    <hr class="my-4">

    <div class="info-labos">
      <label>Media de equipos usuados</label>
      <label>numero 3</label>

      <br>

      <label>Horas de uso medio</label>
      <label>numero 2</label>

      <br>

      <label>Cabtidad de alumnos atendidos</label>
      <label>numero 1</label>
    </div>
  </div>
{{/each}}
